@model IQueryable<WebApplication4.Models.QuestionVM>
@{
    int count = 1, countR = 0;
   

}
<html>
<head>

    <meta charset="utf-8">
    <style>
        body {
            --main-font: 'Roboto', sans-serif;
            --header-font: 'Anton', sans-serif;
            --text-font: Georgia, 'Times New Roman', Times, serif;
            --main-color: #FA9307;
            --light-color: #FA9307;
            --white: #fff;
            --black: #222;
            --gray: #F7F6F6;
            --dark-white: #f5f5f5;
            --shadow: 0px 0px 6px 2px var(--dark-white);
            --space: 15px;
            --screw: 4px;
            --link-color: #FA9307;
            background-color: var(--gray) !important;
            color: var(--black) !important;
        }
        .label-info {
            background-color: white;
            font-size: 30px;
            color: black;
            text-align: center;
        }
        .BlockQ {
            border: 1px solid #bdbdbd;
            width: 100%;
            border-radius: 4px;
            margin-top: 40px;
            background-color: #ffc50033;
            padding: 8px;
        }
        .label-warning {
            background-color: transparent;
            color: black;
            font-size: 15px;
        }
        .label {
            display: inline;
            padding: 0;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25em;
        }
        .Question {
            padding-left: 2%;
            padding-top: 2%;
            padding-bottom: 1%;
        }
        .testhref {
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 0 0 5px;
            font-size: 30px;
        }

        .form-group {
            margin-bottom: 20px;
            margin-right: 20px;
            text-align: end
        }
        a {
            color: var(--light-color);
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="Quiz">

            <h4 style="margin-top: 4%;"> <span class="label label-info">@ViewData["TestTitle"]</span> </h4>

            @if (Model != null && Model.Any())
            {

                foreach (var question in Model)
                {
                    <div class="BlockQ">

                        <div class="Question">
                            <span class="label label-warning"> @string.Format("{0}{1}.", "", count)</span>
                            <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                            <p class="label label-warning" id="@string.Format("{0}{1}", "Q", count)">@question.QuestionText</p>
                        </div>

                        <div class="Choices" style="margin-left: 4%;">

                            @foreach (var choice in question.Choices)
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@choice.ChoiceText" style="margin-left: -16px;"> @choice.ChoiceText
                                </label><br />
                                countR++;
                            }

                        </div> <!--END Choices-->

                        <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">


                        </div>

                    </div> <!-- END BlockQ -->
                    count++;
                }
                <span id="countQuections" style="display:none;">@count</span>
              
                <div class="form-group">

                    <a class="testhref" id="NextL" href="~/Quizz/ShowNextLesson/?testName=@ViewData["TestTitle"]" >Следующий урок </a>
                </div>
                
                <button type="button" id="SubmitQuiz" class="btn btn-default" style="margin-top: 10px;"><span class="glyphicon glyphicon-ok"></span>  Завершить тест </button>


            }

        </div> <!-- END QUIZ -->

    </div> <!-- END CONTAINER -->

    @section MyScritps
        {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#SubmitQuiz').on('click', function () {

                //count Questions
                var sel = $('#countQuections').text();

                console.log(sel);

                var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;

                for (var i = 1; i < countQuestion; i++) {
                    if ($('input[name=inlineRadioOptions' + i + ']:checked').val() == null) {
                        $('#AnsQ' + i).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Ответ не выбран </div>');
                    } else {
                    question = {
                        QuestionID: $('#ID_Q'+ i).text(),
                        QuestionText: $('#Q' + i).text(),
                        AnswerQ: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                        resultQuiz.push(question);
                    }
                }

                $.ajax({

                    type: 'POST',
                    url: '@Url.Action("QuizTest", "Quizz")',
                    data: { resultQuiz },

                    success: function (response) {

                        if (response.result.length > 0)
                        {
                            var count = 0;
                            for(var i = 0; i <response.result.length; i++ )
                            {
                                if(response.result[i].isCorrect == true)
                                {
                                    count++;

                                    $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                                }
                                else
                                {
                                    $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - The Good Answer is <b>' + response.result[i].AnswerQ + '</b></div>');
                                }
                                j++;
                            }
                            
                            //var proc = count / response.result.length * 100;
                            //if (proc > 10) {
                                             
                            //}
                            //else {

                            //}
                        }
                        else
                        {
                            alert("Something Wrong");
                        }


                        //console.log(response.result.length);

                    },
                    error: function (response) {

                    }
                });

                console.log(resultQuiz);

            });



        });

    </script>
    }

</body>
</html>

